
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #333333;
  color: #FFD700;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow: hidden;
}

.groceryList {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.available, .current, .mealoptions {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  background-color: #333333;
  border: 2px solid #FFD700;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(255, 215, 0, 0.3);
  text-align: left;
  min-height: 80vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  border: 6px solid #FFD700;
  color: #FFD700;
  padding: 30px;
  width: 40%;
  height: auto;
  font-size: 1.8rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 16px rgba(255, 215, 0, 0.3);
}

.login label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-size: 1.4rem;
}

.login input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #FFD700;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #333333;
  color: #FFD700;
}

.login input:focus {
  outline: none;
  border-color: #FFC107;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.dashboard-list {
  cursor: pointer;
  background-color: #333333;
  border: 2px solid #FFD700;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  text-emphasis-color: black;
  cursor: pointer
}

.picks{
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 5%;
  justify-content: space-around;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.items li {
  align-items: center;
  margin-bottom: 10px;
  color: #FFD700;
}

.add, .remove, .choose {
  margin-right: 16px;
  background-color: #FFD700;
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add:hover, .remove:hover, .choose:hover {
  background-color: #FFC107;
}

.topDiv {
  margin-top: 100px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: #FFD700;
  cursor: pointer;
  font-weight: bold;
}

.back-button:hover {
  color: #FFC107;
}

.cart, .payment {
  padding: 20px;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}






