.purchase-history {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 1000px;
    overflow-y: auto;
    
}

.purchase-history h2 {
    text-align: center;
    margin-bottom: 20px;
}

.purchase-history ul {
    list-style-type: none;
    padding: 0;
}

.purchase-history li {
    background-color: #444444;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.purchase-history li:hover {
    background-color: #555555;
}

.purchase-history strong {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.purchase-history span {
    display: block;
    margin-bottom: 5px;
}

.purchase-history .back-to-dashboard {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}

.purchase-history .back-to-dashboard:hover {
    background-color: #0056b3;
}
